// Pagination
.nav-pagination {
    margin: 0 auto;
    margin-top: 20px;
    width: 800px;
}

.paginatin-wrapper {
    display: flex;
}

.prev-btn,
.next-btn {
    margin: 0;
    padding: 6px 12px;
}

.next-btn {
    border: none;
}

.pagination-list {
    overflow: auto;
}

.page-item {}

.active {
    background-color: red;
}